@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.mycontainer {
background-color: #fafafa;
transform-origin: top left;
transition: transform 0.5s linear;
width: 100vw;
min-height: 100vh;
padding: 50px;
}

.mycontainer.show-nav {
  transform: rotate(-20deg);

}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #8458dc;
  position: relative;
  transition: transform 0.5s linear;
}

.mycontainer.show-nav .circle {
  transform: rotate(-70deg);
  
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  top: 75%;
  left: 75%;
}

.circle button#close {
  top: 75%;
  left: 75%;
  transform: rotate(90deg);
  transform-origin: top left;

}

.mycontainer.show-nav + nav li {
  transform: translateX(0%);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  left: 0;
  bottom: 40px;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: capitalize;
  color: #fff;
  margin: 40px 0;
  /* transform: translateX(-100%);
  transition: transform 0.4s ease-in; */
}

 nav ul li i {
font-size: 20px;
margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
   /* transform: translateX(-150%);  */
} 

nav ul li + li + li {
  margin-left: 30px;
  /* transform: translateX(-200%); */
} 

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}



p.cvlogo {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  /* -webkit-text-stroke: 1px white; */
  text-shadow: 1px 1px black;
}

.mycontent {
  max-width: 1000px;
  margin: 0px auto;

}

.mycontainer.show-nav .mycontent {
filter: blur(5px);
  transition: transform 0.5s linear;
  
}
