@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
background-color: #fafafa;
}

.container.show-nav {
  padding-top: 0;
  padding-bottom: 0;
  transform: rotate(-20deg);
}

p.cvlogo {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
